extends layout/frontend

block contenido 
        nav.computer
            a(href="#") Contactanos
            a(href="#") Productos Destacados
            a(href="#") nuestra super ofertas
            a(href="#") <i class="fas fa-shopping-cart"></i>

        nav.modile
            a(href="#") <i class="fas fa-user"></i>
           
            a(href="#") <i class="fas fa-shopping-cart"></i>
            
        header.site-header
             h1.contenedor bienvenido a la licoreria

        section.seccion.contenido-destacado
            h2 Productos destacados
            .products-destacados.contenedor
                div(class="product-destacado" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" )
                    img(loading="lazy", class="lazyload" data-src="/img/fotoPruebas/img2.jpg", alt="imagen pruba")
                    p.oferta oferta
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn") 

                div(class="product-destacado" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" )
                    img(loading="lazy" , class="lazyload", data-src="/img/fotoPruebas/img3.jpg", alt="imagen pruba")
                    p.oferta oferta
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn") 


                .product-destacado
                    img(loading="lazy", class="lazyload" ,data-src="/img/fotoPruebas/img4.jpg", alt="imagen pruba")
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn")

                div(class="product-destacado" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" )
                    img( loading="lazy" , class="lazyload", data-src="/img/fotoPruebas/img5.jpg", alt="imagen pruba")
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn")

                .product-destacado
                    img( loading="lazy" , class="lazyload", data-src="/img/fotoPruebas/img6.jpg" , alt="imagen pruba")
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn")

                div(class="product-destacado" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" )
                    img( loading="lazy" , class="lazyload", data-src="/img/fotoPruebas/img9.jpg" , alt="imagen pruba")
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn")

                .product-destacado
                    img( loading="lazy" , class="lazyload", data-src="/img/fotoPruebas/img8.jpg" , alt="imagen pruba")
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn")

                div(class="product-destacado" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" )
                    img( loading="lazy" , class="lazyload", data-src="/img/fotoPruebas/img10.jpg" , alt="imagen pruba")
                    .card-description.contenedor
                        h3.title cerveza alemana
                        p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quos quis quia dolores 
                        input(type="button", value="ver producto" class="btn")

        section.seccion.superOferta
            h2 super ofertas lleva los mejores whisky del mundo al mejor precio
            h3 whisky black label
            .contenido-superOferta.contenedor
                img(loading="lazy", class="lazyload", data-src="/img/fotoPruebas/img1.jpg", alt="imagen pruba")
                p Desde 1820, estandarte de calidad escocesa y bandera del sabor de la inspiración. 

            h3 WHISKY BUCHANANS 12 AÑOS 
            .contenido-superOferta.contenedor
                p Un clásico por más de 130 años, el whisky de 12 años de Buchanan's,
                img(loading="lazy", class="lazyload", data-src="/img/fotoPruebas/img1.jpg", alt="imagen pruba")
                

        main.seccion
            h2 los mejores vinos
            .div(class="products-destacados contenedor" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine") 
                div(class="product-destacado" data-aos="flip-down" )
                    img(loading="lazy", class="lazyload", data-src="/img/fotoPruebas/img20.jpg", alt="imagen pruba")
                    p.oferta.oferta-50 oferta 50%
                    .description-product-principal
                        p $ 150.000
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim pariatur ullam ad illo vero similique tenetur 
                        input(type="button", value="ver producto" class="btn") 
                hr

                div(class="product-destacado" )
                    img(loading="lazy", class="lazyload", data-src="/img/fotoPruebas/img21.jpg", alt="imagen pruba")
                    p.oferta.oferta-50 oferta 50%
                    .description-product-principal
                        p $ 150.000
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim pariatur ullam ad illo vero similique tenetur 
                        input(type="button", value="ver producto" class="btn") 

                hr

                div(class="product-destacado"  )
                    img(loading="lazy", class="lazyload", data-src="/img/fotoPruebas/img23.jpg", alt="imagen pruba")
                    p.oferta.oferta-50 oferta 50%
                    .description-product-principal
                        p $ 150.000
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim pariatur ullam ad illo vero similique tenetur 
                        input(type="button", value="ver producto" class="btn") 


                hr

                div(class="product-destacado" )
                    img(loading="lazy", class="lazyload", data-src="/img/fotoPruebas/img11.jpg", alt="imagen pruba")
                    p.oferta.oferta-50 oferta 50%
                    .description-product-principal
                        p $ 150.000
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim pariatur ullam ad illo vero similique tenetur 
                        input(type="button", value="ver producto" class="btn") 



        script(src="/js/lazysizes.min.js")
        script(src="/js/aos.js" )
        script AOS.init();
    
