extends layout/frontend

block contenido 
    .contenido-principal    
        h1 #{producto.nombre}
        img(loading="lazy" src=`/img/${producto.nombreArchivo}`, alt="imagen pruba")                     
        p #{producto.descriptionLong}

                                   
                            
                            
                                
                                