doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/backend-computer.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")  
        link(rel="stylesheet", href="/css/dropzone.min.css")
        title #{nombrePagina}
    body 
        header.barra 
            h1 la licorera - Administrador
            a(href="#") Cerrar Sesión  
            
        
        
        main.contenedor 
            aside.contenedor-proyectos 
                .panel.crear-proyecto 
                    a(href="/xxx/nuevoProducto" class="boton") Nuevo Producto
                        span +  

                .panel.lista-proyectos
                    ul#proyectos.proyectos 
                        li 
                            a(href="#") productos 
                        li 
                            a(href="#") productos
            block contenido